*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior:  smooth; 
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    
}

/*header*/

.logo{
    width: 100px;
}

header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color: rgba(203, 198, 198, 0.753);
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    font-size: larger;

}

header a:hover{
    color: white;
    transform: scale(1.20);

}

header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;

}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(14, 170, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(249, 241, 11);

}

header .btn-contato button:hover{
    box-shadow: 0px 0px 20px rgb(14, 170, 255);

}

.btn-social button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color:rgb(14, 170, 255);
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: rgb(249, 241, 11);


}   

/*main*/


span{
    color: rgb(14, 170, 255);
}

.image{
    width: 270px;       
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 100%; 
    border: none;
    box-shadow: 0px 0px 50px rgb(14, 170, 255);

}

.interface{
    padding: 50px;
}

h1{
    color: white;
    font-size: 32px;
    line-height: 40px;
}

h2{
    color: white;
    font-size: 32px;
    line-height: 40px;
}

.txt-topo-site p{
    color: rgb(203, 198, 198);
}

main .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(14, 170, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(249, 241, 11);


}


main .btn-contato button:hover{
    box-shadow: 0px 0px 20px rgb(14, 170, 255);
}

main a:hover{
    color: white;
    transform: scale(1.10);
    display: inline-block;
    transition: .5s;
    

}




@keyframes flutuar{
    0%{
        top:0

    }
    100%{
        top: 30px

    }


}

/*link do whatsapp CSS */
.whatsapp-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
    }
    .whatsapp-icon {
    width: 70px; 
    height: 70px; 
    background-color: transparent;  
    }
    
    /*link do whatsapp CSS */
    /*link do instagram CSS */
    .instagram-link {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 1000; 
    }
    .instagram-icon {
    width: 70px; 
    height: 70px; 
    }
    /*link do instagram CSS */
    

    /*estilos das especialidades */
section.especialidades{
    padding: 40px 4%;

}

section.especialidades .flex{
    gap: 60px;
    

}

.especialidades .especialidades-box{
    padding: 20px;
    border-radius: 25px;
    margin-top: 45px;
    transition: .4s;
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    width: 600px;
    

    
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.427);
    


}

.especialidades .especialidades-box i{
    font-size: 60px;
    color: rgb(14, 170, 255);
    

}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
    color: white;
    

}

.lista{
    list-style-type: none;
    /*line-height: 2;
    letter-spacing: 1px;*/
    font-size: 15px;
    color: rgba(203, 198, 198, 0.753);;
    text-align: center;
}

.lista ul li::marker {
    color: rgb(14, 170, 255);
    content: "•"; 

}



/* hidden and show*/

    .hidden {
        opacity: 0;
        filter: blur(15px);
        transform: translateX(-100%);
        transition: all 2s;
        display: flex; 
        gap: 40px;

        }
        
        .show{ 
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
            transition: all 2s;
            
    
        }

/* hidden and show*/



/* Portfolio */
section.portfolio{
    padding: 80x 4%;
    


}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    border-radius: 40px;
    position: relative;



}


.img-port:hover{
    box-shadow: 0 0 20px 4px rgba(14, 171, 255, 0.492);
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.745);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay p{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(14, 170, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(249, 241, 11);
}

.overlay p:hover{
    box-shadow: 0 0 40px 4px rgba(14, 171, 255, 0.492);

}


.overlay:hover{
    opacity: 1;

}


.text{
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 20px;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.727);
    margin: 0px;   
    margin-top: 102%;
    height: 30%;
}

/* Footer */

footer{
    padding: 0px 4%;
    box-shadow: 0 0 20px 4px rgba(14, 171, 255, 0.492);
    margin-top: 150px;
}

footer .flex{
    justify-content:space-between;

}


footer .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:rgb(14, 170, 255);
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: rgb(249, 241, 11);


}  

.btn-social button:hover{

box-shadow: 0px 0px 30px rgb(14, 170, 255);
transform: scale(1.20);

}

footer .line-footer{
    padding: 20px 0;

}

footer p{
color: white;
border-top: 2px ;

}





