* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}


a {
    text-decoration: none;
}

.flex {
    display: flex;

}

/*header*/

.logo {
    width: 220px;
}

header {
    padding: 40px 4%;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a {
    color: rgba(203, 198, 198, 0.753);
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    font-size: larger;

}

header a:hover {
    color: white;
    transform: scale(1.20);

}

header nav ul {
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    padding: 0 40px;

}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(14, 170, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(249, 241, 11);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);


}

header .btn-contato button:hover {
    box-shadow: 0px 0px 20px rgb(14, 170, 255);

}

.btn-social button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(14, 170, 255);
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: rgb(249, 241, 11);


}

/*main*/


span {
    color: rgb(14, 170, 255);
}

.image {
    width: 270px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 0px 50px rgb(14, 170, 255);

}

.interface {
    padding: 50px;
}

h1 {
    color: white;
    font-size: 32px;
    line-height: 40px;
}

h2 {
    color: white;
    font-size: 32px;
    line-height: 40px;
}

.txt-topo-site p {
    color: rgb(203, 198, 198);
}

main .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(14, 170, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(249, 241, 11);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);



}

.bi-envelope, .bi-whatsapp, .bi-instagram{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);


}


main .btn-contato button:hover {
    box-shadow: 0px 0px 20px rgb(14, 170, 255);
}

main a:hover {
    color: white;
    transform: scale(1.10);
    display: inline-block;
    transition: .5s;


}




@keyframes flutuar {
    0% {
        top: 0
    }

    100% {
        top: 30px
    }


}

/*link do whatsapp CSS */
.btn-social-fix-insta button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    font-size: 45px;
    border: 0;
    cursor: pointer;
    color: rgb(249, 241, 11);
    z-index: 5;


}

.btn-social-fix-insta button:hover {
    transform: scale(1.10);
    display: inline-block;
    transition: .5s;


}


.btn-social-fix-what button {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: transparent;
    font-size: 45px;
    border: 0;
    cursor: pointer;
    color: rgb(249, 241, 11);
    z-index: 5;


}

.btn-social-fix-what button:hover {
    transform: scale(1.10);
    display: inline-block;
    transition: .5s;


}




/*estilos das especialidades */
section.especialidades {
    padding: 40px 4%;

}

section.especialidades .flex {
    gap: 60px;


}

.especialidades .especialidades-box {
    padding: 20px;
    border-radius: 25px;
    margin-top: 45px;
    transition: .4s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 360px;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.427);



}

.especialidades .especialidades-box i {
    font-size: 60px;
    color: rgb(14, 170, 255);


}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
    color: white;


}

.lista {
    list-style-type: none;
    /*line-height: 2;
    letter-spacing: 1px;*/
    font-size: 15px;
    color: rgba(203, 198, 198, 0.753);
    ;
    text-align: center;
}

.lista ul li::marker {
    color: rgb(14, 170, 255);
    content: "•";

}



/* hidden and show*/

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
    display: flex;
    gap: 40px;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;


}

/* hidden and show*/

.container{
    display: flex;
    gap: 40px;

}


/* Portfolio */
section.portfolio {
    padding: 80x 4%;



}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}







.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.745);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
    
}

.overlay p {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(14, 170, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(249, 241, 11);
}

.overlay p:hover {
    box-shadow: 0 0 40px 4px rgba(0, 158, 243, 0.492);

}


.overlay:hover {
    opacity: 1;

}


.text {
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.727);
    margin: 0px;
    margin-top: 103%;
    height: 20%;
    border-radius: 0 0 40px 40px;
}

/* Footer */

footer {
    padding: 0px 4%;
    box-shadow: 0 0 20px 4px rgba(14, 171, 255, 0.492);
    margin-top: 150px;
}

footer .flex {
    justify-content: space-between;

}


footer .btn-social button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(14, 170, 255);
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
    color: rgb(249, 241, 11);


}

.btn-social button:hover {

    box-shadow: 0px 0px 30px rgb(14, 170, 255);
    transform: scale(1.20);

}

footer .line-footer {
    padding: 20px 0;

}

footer p {
    color: white;
    border-top: 2px;

}


.logo {
    justify-content: space-between;
    display: flex;
    right: 100%;


    
}


.orçamento button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(14, 170, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(249, 241, 11);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    justify-content: space-between;


}

.orçamento button:hover {
    box-shadow: 0px 0px 20px rgb(14, 170, 255);
    transform: scale(1.10);
    transition: .5s;

}





.bi-envelope, .bi-whatsapp, .bi-instagram{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);


}


main .btn-contato button:hover {
    box-shadow: 0px 0px 20px rgb(14, 170, 255);
}



    /* menu mobile*/


.btn-menu button{
    width: 50px;
    height: 50px;
    outline: none;
    border: 4px solid #ffffff;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    transition: .2s;
    display: none;


}


.btn-menu button.ativar{
    border: 4px solid red;



}

.btn-menu button.ativar .linha:nth-child(1)     {

    transform: translateY(8px) rotate(-45deg);
    background-color: red;


}

.btn-menu button.ativar .linha:nth-child(3)     {

    transform: translateY(-8px) rotate(45deg);
    background-color: red;


}

.btn-menu button.ativar .linha:nth-child(2)     {

    width: 0;

}




.linha{
    width: 22px;
    height: 3px;
    background-color:  rgb(14, 170, 255);
    display: block;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2s;
    
}



.menu-mobile{
    background-color: rgba(24, 23, 23, 0.559);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    position: absolute;  
    top: 70px;
    left: 0;
    width: 60%;
    height: 05vh;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    z-index: 5;


}

.menu-mobile nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    font-size: 13pt;
    


}

.menu-mobile nav a:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(14, 170, 255);
}






    /* menu mobile fim*/


    /* container slide*/

    .container {
        position: relative;
        padding: 15px;
        max-width: 1280px;
        margin: 0 auto;
    
    }
      
      .gallery-wrapper {
        overflow-x: auto;
      }
      
      .arrow-left,
      .arrow-right {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        bottom: 0;
        font-size: 50px;
        line-height: 250px;
        width: 40px;
        color: #ffffff;
        transition: all 600ms ease-in-out;
        background: linear-gradient(to left, transparent 0%, rgb(0, 0, 0) 200%);
        opacity: 0.4;
        cursor: pointer;
        border: none;
  

      }
      
      .arrow-left:hover,
      .arrow-right:hover {
        opacity: 1;
      }
      
      .arrow-right {
        right: -4%;
        left: auto;
        text-align: right;
        background: linear-gradient(to right, transparent 0%, black 200%);
      }

      .arrow-left {
        left: -4%;

      }
      
      .gallery {
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
      }
      
      .item {
        flex-shrink: 0;
        transition: all 600ms ease-in-out;
        opacity: 0.4;
        width: 350px;
        height: 450px;
        background-size: cover;
        border-radius: 40px;
        border: 5px solid rgb(0, 0, 0);
      }
    
      
      .current-item {
        opacity: 1;
        border: 5px solid rgb(14, 170, 255);
        box-shadow: 0px 0px 8px 0px rgba(14, 171, 255, 0.582);
    
    
      }
      
    
      .gallery-wrapper::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
      .gallery-wrapper {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      
/* container slide fim*/



@media screen and (max-width: 1020px) {


header {
    padding: 0px 0%;
    
    }

.btn-menu button{
    display: block;

}


.menu-mobile.abrir{
    visibility: visible;
    height: calc(48vh - 70px);
    
    }

header a:hover {
    transform: scale(1);
    
    }


    .flex {
        flex-direction: column;

    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }


    /*header*/
    .menu-desktop,
    .btn-contato {
        display: none
    }

    .image {
        width: 240px;
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
        border-radius: 100%;
        border: none;
        box-shadow: 0px 0px 50px rgb(14, 170, 255);
        margin-bottom: 80px;
        margin-top: -50px;


    }

    h1{
        font-size: 25px;

    }

    h2 {

        font-size: 25px;
        margin-left: -30px;   

}


    .btn-social-fix-insta button {

        font-size: 35px;
        z-index: 5;
        bottom: 20px;
        right: 20px;
    }

    .btn-social-fix-what button{
        font-size: 35px;
        z-index: 5;
        bottom: 75px;
        right: 20px;

    }


    .especialidades .especialidades-box {

        width: 300px;
        display: contents;


    }
    


    .especialidades .especialidades-box h3 {
        font-size: 20px;
    
    }



    .especialidades .especialidades-box i {
        font-size: 50px;    
    
    }
    

    .lista {

        font-size: 13px;
        

    }


.hidden{

    align-items: center;
    flex-direction: column; /* responsivel mobile  */

    }


.item{
    width: 260px;
    height: 370px;
    margin-bottom: 20px;
    
}


.portfolio .text{
    font-size: 9px;

}


.overlay p {
    padding: 10px 40px;
    font-size: 11px;
    font-weight: 600;
    background-color: rgb(14, 170, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(249, 241, 11); 
}


footer {
    margin-top: 1px;

}

footer .logo{
    display: none;
    

}

.logo{
    width: 120px;

}

.arrow-left,
.arrow-right { display: none;



}

.orçamento button {

    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    margin-left: 40px;

}




}






























  

  